@import "tailwindcss";
@layer base {
  :root {
    --link-base-color: rgb(27, 63, 123);
    --link-hover-color: rgb(204, 7, 123);
    --button-base-color: rgb(203, 7, 114);
    --button-hover-color: rgb(183, 6, 103); /* Darker hover color */
  }

	/* MINDIG zárd ki a .prose-t, ha nem akarod felülírni a plugin stílusait */
  
	:not(.prose) h1 {
	  @apply text-3xl font-bold mb-3;
	}
	:not(.prose) h2 {
	  @apply text-2xl font-bold mb-3;
	}
	:not(.prose) h3 {
	  @apply text-xl font-bold mb-2;
	}
	:not(.prose) h4 {
	  @apply text-lg font-bold mb-2;
	}
	:not(.prose) h5 {
	  @apply text-base font-bold mb-1;
	}
	:not(.prose) h6 {
	  @apply text-sm font-bold mb-1;
	}
  
	:not(.prose) p {
	  @apply text-base leading-relaxed mb-2;
	  @apply text-gray-700;
	}
  
	:not(.prose) ul {
	  @apply list-disc pl-6 mb-2;
	  @apply text-gray-700;
	}

	:not(.prose) a {
		color: var(--link-base-color);
    text-decoration: none;
	}

	:not(.prose) a:not(.news-card-link):hover {
		color: var(--link-hover-color);
    text-decoration: underline;
	}

  :not(.prose) a:active,
	:not(.prose) a:visited {
		color: var(--link-hover-color);
	}

  .btn {
    @apply inline-block rounded-md px-6 py-3 text-base font-semibold shadow-sm transition-colors duration-150;
    background-color: var(--button-base-color);
    color: white !important; /* Force text color to be white, overriding generic 'a' styles */
  }

  .btn:hover {
    background-color: var(--button-hover-color);
  }

  /* Prevent underline on link-buttons on hover */
  a.btn:hover {
    text-decoration: none;
  }
  
	/* stb. */
  }
[x-cloak] {
	display: none !important;
}