---
export const frontmatter = {
  title: 'Érettségi felkészítő tanfolyamok tanárai',
  description: 'Az SZTE Junior Akadémia tanárainak bemutatása.',
  sidebarNewsCount: 2,
}

import DefaultLayout from '../layouts/DefaultLayout.astro'
---

<DefaultLayout {frontmatter}>
  <section class="py-12">
    <h2 class="mb-4 text-2xl font-semibold">Részletek</h2>
    <p>Ez az oldal a Junior Akadémia különböző programjait mutatja be...</p>
  </section>
</DefaultLayout>
