---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import GYIK from '../components/gyakran_ismetelt_kerdesek.mdx'

export const frontmatter = {
  title: 'Gyakran ismételt kérdések',

  sidebarNewsCount: 1,
}
---

<DefaultLayout {frontmatter}>
  <section>
    <div class="prose">
      <GYIK />
    </div>
  </section></DefaultLayout
>
