---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import newsData from '../data/news.yml'
import NewsCards from '../components/NewsCards.astro';
import emeltSzintuErettsegi from '../assets/images/emelt-szintu-erettsegi-felkeszito-tanfolyam.jpg';

export const frontmatter = {
  title: "Emelt szintű érettségire felkészítő tanfolyamok",
};

const { news } = newsData
// Csak az első 3 hírt jelenítjük meg
const featuredNews = news.slice(0, 3)
---

<!-- hello commit: egyszerű teszt módosítás az index oldalon -->

<DefaultLayout {frontmatter}>
  
  <!-- Hírek szekció -->
  <section id="news" class="py-4 bg-gray-50">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <h2 id="hirek" class="text-2xl font-bold mb-4 text-center">Hírek</h2>
      
      <NewsCards items={featuredNews} />
    </div>
  </section>

  <section class="py-12">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-8 items-center">
        <div>
               <p class="mt-4 text-lg text-gray-500">Egyetemre készülsz? Szeretnél minél jobb felvételi eredményt elérni? Megalapoznád egyetemi tanulmányaidat? Felvételi pontokat gyűjtenél?
               </p>
               <p class="mt-4 text-lg text-gray-500">
                Kerülj egy lépéssel közelebb az egyetemhez és jelentkezz emelt szintű érettségire felkészítő tanfolyamainkra! Segítünk a továbbtanulásban!</p>
        </div>
        <div>
          <img class="rounded-lg shadow-lg" src={emeltSzintuErettsegi.src} alt="Emelt szintű érettségi felkészítő tanfolyam">
        </div>
      </div>
    </div>
  </section>

  <section class="text-center">
    <a href="/dokumentumok/emelt_szintu_eretts_felkeszit_tanfolyamok_szabalyzat_2025.pdf" 
       class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
       target="_blank"
       rel="noopener noreferrer">
      Tanfolyam Szabályzat
    </a>
  </section>

  <section id="intro" class="min-h-screen py-12">
    <h2 id="bevezetes" class="mb-4 text-2xl font-bold">A tanfolyamokról</h2>
    <p class="max-w-2xl">Ez az Astro + Tailwind + Alpine alapú reszponzív layout...</p>
  </section>

  
  <section id="section1" class="min-h-screen py-12">
    <h2 id="fejezet-1" class="mb-4 text-2xl font-semibold">Fejezet 1</h2>
    <p class="max-w-2xl">A fő tartalmi rész itt jelenik meg...</p>
  </section>

  <section id="section2" class="min-h-screen py-12">
    <h2 id="fejezet-2" class="mb-4 text-2xl font-semibold">Fejezet 2</h2>
    <p class="max-w-2xl">Scroll közben a jobb oldali navigáció követi a szekciókat.</p>
  </section>

  <section id="section3" class="min-h-screen py-12">
    <h2 id="kapcsolat" class="mb-4 text-2xl font-semibold">Kapcsolat</h2>
    <p class="max-w-2xl">Itt jönne a footer vagy a kapcsolat űrlap.</p>
  </section>
</DefaultLayout>
