---
// src/components/Callout.astro
---

<div
  class="mt-8 border-l-4 bg-blue-100 p-4"
  style="border-left-color: var(--link-base-color); color: var(--link-base-color);"
  role="alert"
>
  <slot />
</div>
