---
import TeacherCard from './TeacherCard.astro'
import { getCollection } from 'astro:content'

const { showImage = true } = Astro.props
const teachers = (await getCollection('teachers')).map((entry) => entry.data)
---

<section>
  <div class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-4">
    {teachers.map((name) => <TeacherCard teacher={name} {showImage} />)}
  </div>
</section>
