---
import TeacherCard from './TeacherCard.astro'
import teachersData from '../data/teachers.yml'
const { showImage = true } = Astro.props
const teachers = teachersData
---

<section>
  <h1 class="mb-4 text-2xl font-bold">Oktatóink</h1>

  <div class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3">
    {teachers.map((name) => <TeacherCard teacher={name} {showImage} />)}
  </div>
</section>
